.navbar-brand img{
    height: 100px;
    width: 100px;
}
.carousel-item img {
  height: 500px;
  object-fit: cover;
}

.instrumento-img {
  max-height: 180px;
  object-fit: contain;
}

.marca-logo {
  max-height: 80px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.marca-logo:hover {
  filter: grayscale(0%);
}

.bg-dark {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.marca-logo {
  max-height: 80px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.marca-logo:hover {
  filter: grayscale(0%);
}
/* ------ */
.valores {
  background-color: #f5f5f5;
  padding: 60px 20px;
  text-align: center;
}

.valores h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.contenedor-valores {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.valor {
  max-width: 250px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.valor img {
  height: 80px;
  margin-bottom: 15px;
}

.valor h5 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.valor p {
  font-size: 0.95em;
  color: #333;
}

.footer {
  background-color: #111;
  color: #ccc;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
}